/* Write your CSS code here */
.list-cont {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.list-item {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 100%;
}
.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.head {
  font-size: 16px;
  color: #12022f;
  font-weight: bold;
}
.para1 {
  font-size: 14px;
  color: #9aa5b1;
}

.line {
  width: 100%;
}
